Repository ShinichiShi/pbwebsite, changes with the labels that .github/labeler.yaml gives for each.
All labels: GitHub Actions, Documentation, CI/CD, Frontend, API, Styling, Dependencies, Config, Models, Utils

commented all the CUD apis
  app/(default)/api/achievements-category/route.ts
  app/(default)/api/achievements/route.ts
  app/(default)/api/admin/route.ts
  app/(default)/api/leads/route.ts
  app/(default)/api/leads/upload/route.ts
  app/(default)/api/membersData/route.ts
Labels: Frontend, API

Refactor AdditionalQuestions component to simplify hint logic and enhance user interaction with a hint button.
  components/forms/pbctfForm/AdditionalQuestions.tsx
  components/ui/mobile-menu.tsx
Labels: Frontend

Updated PBCTF registration banner in the layout to include alert emojis for enhanced visibility and user engagement.
  app/layout.tsx
Labels: Frontend

feat/pbctf: add otp for email verification
  app/(default)/api/registration/pbctf/route.ts
  components/forms/pbctfForm.tsx
  components/forms/pbctfForm/ParticipantForm.tsx
  models/CTFRegs.ts
  package-lock.json
  package.json
Labels: Frontend, API, Dependencies, Models

handle db slow connect condition
  app/(default)/api/registration/pbctf/route.ts
Labels: Frontend, API

.github/labeler.yaml:

# Please see https://github.com/actions/labeler for reference
GitHub Actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

Documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'

CI/CD:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/*'
    - any-glob-to-any-file: '.infisical.json'
    - any-glob-to-any-file: 'next.config.mjs'

Frontend:
  - changed-files:
    - any-glob-to-any-file: 'components/**/*'
    - any-glob-to-any-file: 'app/**/*.tsx'
    - any-glob-to-any-file: 'app/**/*.ts'
    - any-glob-to-any-file: 'public/**/*'

API:
  - changed-files:
    - any-glob-to-any-file: 'app/**/api/**/*'
    - any-glob-to-any-file: 'lib/swagger.ts'

Styling:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: 'tailwind.config.*'
    - any-glob-to-any-file: 'postcss.config.*'

Dependencies:
  - changed-files:
    - any-glob-to-any-file: 'package.json'
    - any-glob-to-any-file: 'package-lock.json'

Config:
  - changed-files:
    - any-glob-to-any-file: '*.config.*'
    - any-glob-to-any-file: '.eslintrc.*'
    - any-glob-to-any-file: 'tsconfig.json'
    - any-glob-to-any-file: '.gitignore'

Models:
  - changed-files:
    - any-glob-to-any-file: 'models/**/*'

Utils:
  - changed-files:
    - any-glob-to-any-file: 'utils/**/*'
    - any-glob-to-any-file: 'lib/**/*'
