Repository ShinichiShi/pbwebsite, changes with the labels that .github/labeler.yaml gives for each.
All labels: GitHub Actions, Documentation, CI/CD, Frontend, API, Styling, Dependencies, Config, Models, Utils

.github/labeler.yaml:

# Please see https://github.com/actions/labeler for reference
GitHub Actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

Documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'

CI/CD:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/*'
    - any-glob-to-any-file: '.infisical.json'
    - any-glob-to-any-file: 'next.config.mjs'

Frontend:
  - changed-files:
    - any-glob-to-any-file: 'components/**/*'
    - any-glob-to-any-file: 'app/**/*.tsx'
    - any-glob-to-any-file: 'app/**/*.ts'
    - any-glob-to-any-file: 'public/**/*'

API:
  - changed-files:
    - any-glob-to-any-file: 'app/**/api/**/*'
    - any-glob-to-any-file: 'lib/swagger.ts'

Styling:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: 'tailwind.config.*'
    - any-glob-to-any-file: 'postcss.config.*'

Dependencies:
  - changed-files:
    - any-glob-to-any-file: 'package.json'
    - any-glob-to-any-file: 'package-lock.json'

Config:
  - changed-files:
    - any-glob-to-any-file: '*.config.*'
    - any-glob-to-any-file: '.eslintrc.*'
    - any-glob-to-any-file: 'tsconfig.json'
    - any-glob-to-any-file: '.gitignore'

Models:
  - changed-files:
    - any-glob-to-any-file: 'models/**/*'

Utils:
  - changed-files:
    - any-glob-to-any-file: 'utils/**/*'
    - any-glob-to-any-file: 'lib/**/*'

Refine lore entries by correcting grammatical errors, enhancing clarity, and updating character references in stories for Coorg and NITK experiences.
  components/lore/data/lores.ts
Labels: Frontend

Added an api route for backend-email validation instead of frontend validation
  app/(default)/api/signin_validation/route.ts
  components/Signin.tsx
Labels: Frontend, API

Removed previous files of separate Signup and Login logic
  components/Login.tsx
  components/Signup.tsx
Labels: Frontend

Changed toast position to top-right
  app/admin/layout.tsx
  components/Signin.tsx
Labels: Frontend

Resolved the build issues of email link auth verification pr
  app/(default)/api/signin_validation/route.ts
  components/Signin.tsx
Labels: Frontend, API

Email link authentication added
  app/admin/page.tsx
  components/Login.tsx
  components/Signin.tsx
  components/Signup.tsx
Labels: Frontend

Added react-toast feature for errors and removed unnecessary state variables
  app/admin/layout.tsx
  components/Signin.tsx
Labels: Frontend

Removed duplicate files
  .github/workflows/pr-checks.yml
  app/(default)/api/signin_validation/route.ts
Labels: GitHub Actions, CI/CD, Frontend, API

Resolved the build issues of email link auth verification pr
  app/(default)/api/signin_validation/route.ts
  components/Signin.tsx
Labels: Frontend, API

Email link authentication added
  app/admin/page.tsx
  components/Login.tsx
  components/Signin.tsx
  components/Signup.tsx
Labels: Frontend

Changed toast position to top-right
  app/admin/layout.tsx
  components/Signin.tsx
Labels: Frontend

Added react-toast feature for errors and removed unnecessary state variables
  app/admin/layout.tsx
  components/Signin.tsx
Labels: Frontend

Removed previous files of separate Signup and Login logic
  components/Login.tsx
  components/Signup.tsx
Labels: Frontend

Removed duplicate files
  .github/workflows/pr-checks.yml
  app/(default)/api/signin_validation/route.ts
Labels: GitHub Actions, CI/CD, Frontend, API

Added an api route for backend-email validation instead of frontend validation
  app/(default)/api/signin_validation/route.ts
  components/Signin.tsx
Labels: Frontend, API

Issue275 - Refactored Achievements Page (#327)
  app/(default)/achievements/page.tsx
  app/(default)/api/achievements-category/route.ts
  app/admin/layout.tsx
  app/admin/page.tsx
  components/Signin.tsx
  models/AchievementsCategory.ts
  package-lock.json
  package.json
Labels: Frontend, API, Dependencies, Models

fixed indentation
  .devcontainer/devcontainer.json
Labels: none

documentation update and minor fixes
  .devcontainer/devcontainer.json
  README.md
Labels: Documentation

updated dependabot
  .github/dependabot.yml
Labels: GitHub Actions

added postStartCommand
  .devcontainer/devcontainer.json
Labels: none

added devcontainer and dependabot
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Labels: GitHub Actions

Revert "Issue275 - Refactored Achievements Page (#327)"
  app/(default)/achievements/page.tsx
  app/(default)/api/achievements-category/route.ts
  app/admin/layout.tsx
  app/admin/page.tsx
  components/Signin.tsx
  models/AchievementsCategory.ts
  package-lock.json
  package.json
Labels: Frontend, API, Dependencies, Models

Updated animation
  app/(default)/achievements/page.tsx
Labels: Frontend

Added fade In Title
  app/(default)/achievements/page.tsx
  lib/utils.ts
Labels: Frontend, Utils

updated mobile ui
  app/(default)/achievements/page.tsx
Labels: Frontend

Updated achievements-category model
  app/(default)/achievements/page.tsx
  app/(default)/api/achievements-category/route.ts
  models/AchievementsCategory.ts
  models/TestAchievements.ts
Labels: Frontend, API, Models

Fixed build error
  package-lock.json
  package.json
Labels: Dependencies

Updated tagline
  app/(default)/achievements/page.tsx
Labels: Frontend

Delayed animation
  app/(default)/achievements/page.tsx
Labels: Frontend

Removed utils.ts
  lib/utils.ts
Labels: Utils

Changed text size
  app/(default)/achievements/page.tsx
Labels: Frontend

Updated layout
  app/(default)/achievements/page.tsx
Labels: Frontend

Added images POST
  app/(default)/api/test-achievements/route.ts
Labels: Frontend, API

Updated animation duration
  app/(default)/achievements/page.tsx
Labels: Frontend

Updated animation and added placeholders
  app/(default)/achievements/page.tsx
  app/(default)/api/achievements-category/route.ts
  components/achievementList.tsx
  package-lock.json
  package.json
Labels: Frontend, API, Dependencies

fixed merge conflicts
  components/achievementList.tsx
  package-lock.json
  package.json
Labels: Frontend, Dependencies

Fixed build error
  package-lock.json
  package.json
Labels: Dependencies

Achievements remodel
  app/(default)/achievements/page.tsx
  app/(default)/api/test-achievements/route.ts
  models/TestAchievements.ts
Labels: Frontend, API, Models

Refined design
  app/(default)/achievements/page.tsx
Labels: Frontend

Achievements remodel
  app/(default)/achievements/page.tsx
  app/(default)/api/test-achievements/route.ts
  models/TestAchievements.ts
Labels: Frontend, API, Models
