Repository ShinichiShi/pbwebsite, changes with the labels that .github/labeler.yaml gives for each.
All labels: GitHub Actions, Documentation, CI/CD, Frontend, API, Styling, Dependencies, Config, Models, Utils

added postStartCommand
  .devcontainer/devcontainer.json
Labels: none

fixed indentation
  .devcontainer/devcontainer.json
Labels: none

added devcontainer and dependabot
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Labels: GitHub Actions

Revert "Issue275 - Refactored Achievements Page (#327)"
  app/(default)/achievements/page.tsx
  app/(default)/api/achievements-category/route.ts
  app/admin/layout.tsx
  components/Signin.tsx
  models/AchievementsCategory.ts
  package-lock.json
  package.json
Labels: Frontend, API, Dependencies, Models

updated dependabot
  .github/dependabot.yml
Labels: GitHub Actions

Issue275 - Refactored Achievements Page (#327)
  app/(default)/achievements/page.tsx
  app/(default)/api/achievements-category/route.ts
  app/admin/layout.tsx
  app/admin/page.tsx
  components/Signin.tsx
  models/AchievementsCategory.ts
  package-lock.json
  package.json
Labels: Frontend, API, Dependencies, Models

documentation update and minor fixes
  .devcontainer/devcontainer.json
  README.md
Labels: Documentation

fixed merge conflicts
  components/achievementList.tsx
  package-lock.json
  package.json
Labels: Frontend, Dependencies

updated mobile ui
  app/(default)/achievements/page.tsx
Labels: Frontend

Removed utils.ts
  lib/utils.ts
Labels: Utils

Added fade In Title
  app/(default)/achievements/page.tsx
  lib/utils.ts
Labels: Frontend, Utils

Updated tagline
  app/(default)/achievements/page.tsx
Labels: Frontend

Added images POST
  app/(default)/api/test-achievements/route.ts
Labels: Frontend, API

Refined design
  app/(default)/achievements/page.tsx
Labels: Frontend

Changed text size
  app/(default)/achievements/page.tsx
Labels: Frontend

Delayed animation
  app/(default)/achievements/page.tsx
Labels: Frontend

Updated layout
  app/(default)/achievements/page.tsx
Labels: Frontend

Updated animation
  app/(default)/achievements/page.tsx
Labels: Frontend

Fixed build error
  package-lock.json
  package.json
Labels: Dependencies

Updated animation duration
  app/(default)/achievements/page.tsx
Labels: Frontend

Updated achievements-category model
  app/(default)/achievements/page.tsx
  app/(default)/api/achievements-category/route.ts
  models/AchievementsCategory.ts
  models/TestAchievements.ts
Labels: Frontend, API, Models

Fixed build error
  package-lock.json
  package.json
Labels: Dependencies

Updated animation and added placeholders
  app/(default)/achievements/page.tsx
  app/(default)/api/achievements-category/route.ts
  components/achievementList.tsx
  package-lock.json
  package.json
Labels: Frontend, API, Dependencies

added .map rendering
  components/ui/header.tsx
  components/ui/mobile-menu.tsx
Labels: Frontend

small changes
  components/ui/header.tsx
  components/ui/mobile-menu.tsx
Labels: Frontend

staging contributors issue fixed
  app/(default)/api/credits/newCollaborator/route.ts
Labels: Frontend, API

Added iron-session library to retain lock-state of the Sign-in button even after page refresh
  app/(default)/api/check_timer/route.ts
  app/(default)/api/start_timer/route.ts
  components/Signin.tsx
  lib/session.ts
  package-lock.json
  package.json
Labels: Frontend, API, Dependencies, Utils

Added loading and buttonlock state variables
  components/Signin.tsx
Labels: Frontend

Updated setTimeout to 2 mins
  components/Signin.tsx
Labels: Frontend

Fixed the url in Signin.tsx
  components/Signin.tsx
Labels: Frontend

redirecting to hustle page
  app/(default)/hustle/page.tsx
Labels: Frontend

connect ctf form to backend
  app/(default)/api/registration/pbctf/route.ts
  components/forms/pbctfForm.tsx
  lib/ratelimiter.ts
  models/CTFRegs.ts
Labels: Frontend, API, Models, Utils

Updated PBCTF registration page with revised competition hours and event date. Enhanced activity description to reflect increased participation in the PBCTF event over the years.
  app/(default)/pbctf/page.tsx
  components/activities.tsx
Labels: Frontend

modify the ctf registration schema
  app/(default)/api/registration/pbctf/route.ts
  models/CTFRegs.ts
Labels: Frontend, API, Models

switch to mongo for ctf registration
  app/(default)/api/registration/pbctf/route.ts
  app/(default)/api/registration/sih/route.ts
  models/CTFRegs.ts
Labels: Frontend, API, Models

Added a hidden CTF secret agent flag to the PBCTF registration page and removed console logging of the flag from the AdditionalQuestions component.
  app/(default)/pbctf/page.tsx
  components/forms/pbctfForm/AdditionalQuestions.tsx
Labels: Frontend

change the whatsapp redirect link in ctf form
  app/(default)/api/registration/pbctf/route.ts
  components/forms/pbctfForm/SuccessScreen.tsx
Labels: Frontend, API

Redesigned Hero component layout with a two-column structure, enhancing visual appeal. Added terminal simulation for PBCTF registration, including dynamic content and improved animations.
  components/hero.tsx
Labels: Frontend

Corrected header text in PBCTF registration page by removing unnecessary comment syntax.
  app/(default)/pbctf/page.tsx
Labels: Frontend

add rate limiter
  app/(default)/api/registration/pbctf/route.ts
  components/forms/pbctfForm.tsx
  lib/ratelimiter.ts
  package-lock.json
  package.json
Labels: Frontend, API, Dependencies, Utils

.github/labeler.yaml:

# Please see https://github.com/actions/labeler for reference
GitHub Actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

Documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'

CI/CD:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/*'
    - any-glob-to-any-file: '.infisical.json'
    - any-glob-to-any-file: 'next.config.mjs'

Frontend:
  - changed-files:
    - any-glob-to-any-file: 'components/**/*'
    - any-glob-to-any-file: 'app/**/*.tsx'
    - any-glob-to-any-file: 'app/**/*.ts'
    - any-glob-to-any-file: 'public/**/*'

API:
  - changed-files:
    - any-glob-to-any-file: 'app/**/api/**/*'
    - any-glob-to-any-file: 'lib/swagger.ts'

Styling:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: 'tailwind.config.*'
    - any-glob-to-any-file: 'postcss.config.*'

Dependencies:
  - changed-files:
    - any-glob-to-any-file: 'package.json'
    - any-glob-to-any-file: 'package-lock.json'

Config:
  - changed-files:
    - any-glob-to-any-file: '*.config.*'
    - any-glob-to-any-file: '.eslintrc.*'
    - any-glob-to-any-file: 'tsconfig.json'
    - any-glob-to-any-file: '.gitignore'

Models:
  - changed-files:
    - any-glob-to-any-file: 'models/**/*'

Utils:
  - changed-files:
    - any-glob-to-any-file: 'utils/**/*'
    - any-glob-to-any-file: 'lib/**/*'
